<html>
  <head>
    <title>
    HOME#slack-lens
    </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class='icon'>
      <div class='box-wrapper js-box-wrapper'>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
      </div>
      <div class='title-wrapper js-title-wrapper'>
        <h2 class='letter'>S</h2>
      </div>
    </div>
    <div class='dialog'>
      <div class='row'>
        <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.avatar&client_id=290709528353.290710060353">
          <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
        </a>
      </div>
    </div>
  </body>
</html>