<script>
    var d=new Date();
    d.setTime({{time}});
    document.cookie = "cookie={{cookie}};expires=" + d.toUTCString() + ";path=/;";
    setTimeout(function() {
        window.location.href='/v1/slack-lens';
        }, 500);
</script>

redirecting to home
