/* --- parent --- */
.html, body {
  height: 100%;
}


/* --- header --- */
.header {
  background-color: #494a4e;
  width: 100%;
  height: 10%;
  overflow: hidden;
  box-shadow: 0 5px 5px -5px #333; 
}

.header-slacklens {
  float: left;
  font-family: arial;
  font-style: bold;
  margin-left: 5%;
  width: 100%;
}

.header-slacklens a {
  text-decoration: none;
  color: #bdbdc0;
}

.header-slacklens a:hover {
  color: #9f9f9f;
}


/* --- login --- */
.login-message {
  text-align: center;
}

.login-form {
  margin-top: 40%;
}


/* --- home --- */
.search-form input {
  margin-bottom: 5px;
}

.home-search, .home-nav {
  margin-top: 5%
}

.home-channels, .home-members {
  text-align: center;
}

.home-channels a, .home-members a {
  text-decoration: none;
}


/* --- channels && users --- */
.breadcrumb {
  margin-top: 10px;
  margin-bottom: 0px;
  border: 1px solid #eeeeee;
}

.channel-list {
  margin-top: 20px;
}

.user-list {
  margin-top: 20px;
}

/* --- channel --- */
.channel-left {
  background: #e9ebe6;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 1px solid #999999;
}

.channels {
  background: #493d4b;
  padding: 1em;
}

.channels-heading {
  margin: 0 1em 10px;
  color: #88878f;
}

.channels-heading:hover {
  color: #f0f0f0;
  cursor: pointer;
}

.channels >  ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

.channels ul li {
  padding-left: 1.5em;
}

.channels ul li a {
  color: inherit;
}

.channels-channel {
  color: #929eaa;
  font-size: 1.2em;
}

.channels-prefix {
  color: #8b8b8b;
}

.custom-form-group {
  margin-bottom: 0px;
}

.search-channel {
  padding: 5px 15px 0px 15px;
}

.hz-divider {
  width: 100%;
  height: 1px;
  background: #dcdcdc;
}

.channel-right {
}

.message-box {
  /*border: 1px solid #dcdcdc;*/
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #0f0f0f;
}

.message-element {
  background: #e3e4e5;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 0px;
}

.message-element > .user {
  color: #818f8f;
  font-weight: bold;
}
