/* --- parent --- */
.html, body {
  height: 100%;
}


/* --- header --- */
.header {
  background-color: #494a4e;
  width: 100%;
  height: 10%;
  overflow: hidden;
  box-shadow: 0 5px 5px -5px #333; 
}

.header-slacklens {
  float: left;
  font-family: arial;
  font-style: bold;
  margin-left: 5%;
  width: 100%; 
}

.header-slacklens a {
  text-decoration: none;
  color: #9f9f9f;
}

.header-slacklens a:hover {
  color: #bdbdc0;
}


/* --- login --- */
.login-message {
  text-align: center;
}

.login-form {
  margin-top: 40%;
}


/* --- home --- */
.search-form input {
  margin-bottom: 5px;
}

.home-search, .home-nav {
  margin-top: 5%
}

.home-channels, .home-members {
  text-align: center;
}

.home-channels a, .home-members a {
  text-decoration: none;
}


/* --- channels --- */
.breadcrumb {
  margin-top: 5px;
  border: 1px solid #eeeeee;
}

.row-redefine {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.channel-data div{
  text-align: left;
  background: red;
  margin-bottom: 10px;
  margin-right: 2px;
}
