body,html {
  height: 100%;
  background: #fdfcfc;
}

.custom-fluid {
  height: 90%;
}

.custom-row {
  height: 100%;
}

/* --- header --- */
.header {
  height: 10%;
  background-color: #494a4e;
  margin: 0px;
  border-bottom: 0px;
  box-shadow: 0 5px 5px -5px #333; 
}

.header-slacklens {
  float: left;
  font-family: arial;
  font-style: bold;
  margin-left: 3em;
}

.header-slacklens a {
  text-decoration: none;
  color: #bdbdc0;
}

.header-slacklens a:hover {
  color: #9f9f9f;
}


/* --- login --- */
.login-message {
  text-align: center;
}

.login-form {
  margin-top: 40%;
}


/* --- home --- */
.home-search, .home-nav {
  margin-top: 5%
}

.home-channels, .home-members {
  text-align: center;
}

.home-channels a, .home-members a {
  text-decoration: none;
}


/* --- channels && users --- */
.breadcrumb {
  margin-top: 10px;
  margin-bottom: 0px;
  border: 1px solid #eeeeee;
}

/* --- channels --- */
.channel-list {
  margin-top: 20px;
}

/* --- users --- */
.user-list {
  margin-top: 20px;
}

/* --- channel --- */
.channel-left {
  /*position: relative;*/
  height: 100%;
  background: #e9ebe6;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0px 0px 5px 0px #333333;
}

.channels {
  height: 85%;
  /*margin-top: 1px;*/
  background: #493d4b;
  padding: 1em;
  /*border-bottom: 2px solid whitesmoke;*/
}

.channels-heading {
  margin: 0 1em 10px;
  color: #88878f;
}

.channels-heading:hover {
  color: #f0f0f0;
  cursor: pointer;
}

.channels >  ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

.channels ul li {
  padding-left: 1.5em;
}

.channels ul li a {
  color: inherit;
  text-decoration: none;
}

.channels ul li a:hover {
  color: #88878f;
}

.channels-channel {
  color: #929eaa;
  font-size: 1.2em;
}

.channels-prefix {
  color: #8b8b8b;
}

.hz-divider {
  width: 100%;
  height: 1px;
  background: #dcdcdc;
}

.user-section {
  position: absolute;
  /*bottom: 0;*/
  background: #494a4e;
  height: 15%;
  width: 100%;
  box-shadow: 0px 0px 5px 0px #333333;
  padding: 1em;
}

.user-section-user-online {
  color: #9f9f9f;
  padding: 2px;
}

.user-section-user-name {
  margin: 0px auto 0px;
  font-size: 1.7em;
  color: #bdbdc0;
  cursor: pointer;
}

.user-section-user-name:hover {
  color: #9f9f9f;
}

.channel-right {
  height: 100%;
  overflow: auto;
}

.message-box {
  overflow-y: scroll;
  border-radius: 0px 0px 2px 2px;
  height: 90%;
  /*box-shadow: 0px 0px 3px 0px #0f0f0f;*/
}

.message-element {
  background: #fdfdfd;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 5px;
  color: #767676;
}

.message-user {
  color: #060606;
  font-size: 1.3em;
}

.message-user a {
  color: inherit;
}

.message-time {
  color: #767676;
  font-size: 0.9em;
}

.message-time a {
  color: inherit;
}

.channel-search {
  height: 100%;
}

.custom-form-group {
  margin-bottom: 0px;
}

.search-channel {
  height: 8%;
  margin-top: 5px;
  padding: 2% 15px 2% 15px;
}

.channel-search-result {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.channel-search-result-element {
  border-bottom: 1px solid #cfcfcf;
}

.channel-search-result-element > div {
  color: #767676;
}

.channel-search-result-element > .message-user {
  margin-right: 4px;
}
