
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$icon-color: #2C2D30;
$gray: #92959E;


/* Default properties*/
.reset, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, main{
  display: block;
}

* {
  box-sizing: border-box;
}

/* Default properties*/

.reset_2, caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

html {
  margin-left:auto;
  margin-right:auto;
  line-height: 1;
  position: relative;
  height: 100%;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 53px;
  padding-bottom: 64px;
  font: 14px/20px "Lato", Arial, sans-serif;
}

a img {
  border: none;
}

q, blockquote {
  quotes: none;
  &:before,&:after {
    content: "";
    content: none;
  }
}



ul,ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.attachment-container {
  margin: 10px 0;
  padding-left: 20px;
  &>div, &>span, &>a {
    margin-bottom: 3px;
  }
}

.attachment-user-name {
  font-weight: bold;
}

.attachment-user-mobile, .attachment-user-email {
  display: inline-block;
  margin: 10px 70px 0 0;
  &>span {
    font-weight: bold;
  }
}

.service-img {
  height: 200px;
  width: 100px;
  display: block;
}

.service-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

#sidebar {
  padding:0px 8px;
  background-color: #e9ece5;
}

.message-history a, #sidebar a{
  text-decoration: none;
  font:italic bold inherit Georgia, serif;

  &:hover{
    font-size:1.01em;
  }
}


/* Head */

.search-bottom{
  position: absolute;
  display: block;
  margin: auto;
  left: 28%;
  bottom: 3%;
  height: 5%;
  width: 70%;
  font-weight: 100;
  padding-left: 28px;
  font-family:"lato";
  font-size: 12px;
  opacity: 0.6;
  color: $icon-color;
}



.star,.user,.pin{
  padding-left: 3%;
  opacity: 0.6;
  z-index: 3;
}












#mySidebar{
  background-color: #f4edfc;
  position:absolute ;
  right:-30% ;
  top:53px;
  width:30%;
  height:calc(100% - 53px);
  z-index:20;
  box-shadow: 1px .5px 7px black;
}




/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 53px;
  width: 100%;


  /* common properties */
  .box_{
    display:inline-block;
    width:1px;
    height:1px;
  }

  #icons{
    padding-bottom: 10px;
  }
  /* common properties */

  /* different layers of element */
  #line, #line2{
    position: absolute;
    left: 14%;
    top: 46.5%;
    font-family:"lato";
    font-size: 13px;
    opacity: 0.5;
    font-weight: 100;
    color: #2C2D30;

  }

  #line3{
    position: absolute;
    right: 33%;
    top: 8.5%;
    font-family:"lato";
    font-size: 18px;
    opacity: 0.5;
    font-weight: 100;
    color: $icon-color;

  }

  .bottom-header-line{
    margin-left: 8px;
    width: 98%;
    margin-top: 0;

  }

  #header_ {
    width: calc(100% - 220px);
    float: right;
    height: 53px;
    background:none;
    background-size: cover;
    border-radius: 0%;
    border-bottom:1px solid rgba(0,0,0,.2);
    z-index: 1;
  }
  /* different layers of element */

  #channel-title{
    color: $icon-color;
    font-family:"lato";
    font-size: 18px;
    font-weight: 800;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 3;
  }

  #rightIcons{
    height:8px;

    #wrapper1{
      position: absolute;
      top: 45%;
      right: 350px;
      width: 100px;
      height: 20px;


      .phone, .cog, .details{
        position: relative;
        color: $icon-color;
        opacity: 0.7;
       }

       .phone{
        left:10%;
       }
       .cog{
        left:40%;
       }
       .details{
        left:70%;
       }
    }

    #wrapper2{
      position: absolute;
      top: 33%;
      right: 150px;
      width: 180px;
      height: 25px;

      .search-glass{
        position: relative;
        left:5%;
        top:20%;
        opacity: 0.5;
        z-index: 3;
      }
      input {
        position: absolute;
        text-align:right;
        border: 1.5px solid grey;
        font-family:"lato";
        font-size: 14px;
        font-weight: 100;
        border-radius: 10px;
        height: 120%;

        &:focus {
          border: none;
        }
       }


       #search{
         left: 0%;
         width: 130px;
         padding-right: 10px;
        }

        #number{
         right:0;
         width: 35px;
         padding-left: 1px;
         opacity: 0.6;
       }
    }


    #wrapper3{
      position: absolute;
      top: 45%;
      right: 20px;
      width: 100px;
      height: 20px;

      .at, .star-o, .menu{
        position: relative;
        color: $icon-color;
        opacity: 0.7;
      }
      .at{
        left:10%;
      }

      .star-o{
        left:40%;
      }

      .menu{
        left:70%;
        cursor: pointer;
      }
    }
  }
}

.main {
  height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
}

.team-menu {
  width: 220px;
  height: 53px;
  line-height: 53px;
  font-weight: 900;
  padding: 0 1rem;
  color: #ffffff;
  background:#313e4d;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  float: left;
  cursor: pointer;
}

.channel-menu_name {
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #555459;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
}


.channel-menu_prefix {
  color: #9e9ea6;
  padding-right: 0.1rem;
  font-weight: 500;
}

.listings {
  height: 100%;
  width: 220px;
  float: left;
  color: #ab9ba9;
  background-color: rgb(49, 62, 77);
  overflow-y: auto;
  overflow-x: hidden;

  .listings_channels {
    margin: 1rem 0 2rem;

    .listings_header {
      text-align: left;
      font-size: 0.8rem;
      line-height: 1.25rem;
      margin: 0 1rem 0.1rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #ab9ba9;
      width: 165px;
      position: relative;

      .color {
        box-sizing: border-box;
        color: rgb(193, 197, 202);
        cursor: pointer;
        font-family: NotoSansJP, Slack-Lato, appleLogo, sans-serif;
        font-size: 16px;
        font-variant: common-ligatures;
        font-variant-ligatures: common-ligatures;
        line-height: 32px;
        text-align: left;
        text-decoration: none solid rgb(193, 197, 202);
        text-size-adjust: 100%;
        white-space: nowrap;
        column-rule-color: rgb(193, 197, 202);
        user-select: none;
        caret-color: rgb(193, 197, 202);
        border: 0px none rgb(193, 197, 202);
        outline: rgb(193, 197, 202) none 0px;
      }
    }
  }
}

.message-history {
  margin-left: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 0 18px 1rem 1.5rem;
  overflow: scroll;
  overflow-x: hidden;
}





#channel_list {
  list-style-type: none;
  text-align: left;
  color: #ab9ba9;

  .channel {
    height: 24px;
    line-height: 24px;
    margin-right: 0;
    color: #ffffff;
    font:1.2em serif;
    padding-left: 1rem;
  }
}


ul>li:hover{
  background: rgba(208, 208, 208, 0.5);
  opacity: 0.5;
  cursor: hand;
}

.message {
  position: relative;
  margin-top: 0.5rem;
  background-color: rgb(230,230,230);
  padding: 0.25rem 2rem .25rem 3rem;
  border-radius: 5px;
  min-height: 36px;
  box-shadow: 1px 1px 6px darkgrey;

  .deleted {
    float:right;
    background-color: rgba(189, 107, 107, 0.774);
    color: red;
    margin-right: 5px;
  }

  .message_profile-pic {
    position: absolute;
    left: 7px;
    display: block;
    border-radius: 0.2rem;
    width: 36px;
    height: 36px;
    background-size: cover;
  }

  .message_username {
    cursor: hand;
    font-weight: 900;
    padding-right: 0.25rem;
    color: #3d3c40 !important;
    margin-left: 0;
    font-style: normal;
    text-decoration: none;
  }

  .message_timestamp {
    text-align: left;
    display: inline;
    position: relative;
    top: 0;
    left: 0;
    color: #939496;
    font-size: 12px;
    line-height: 1.2rem;
    width: 36px;
    margin-right: 0;
    margin-left: 0;
  }

  .message_content {
    display: block;
    min-height: 1rem;

    a {
      background-color:#eaf5fc;
      border-radius: 10px;
    }

    a:visited, a:hover, a:link {
      color:#0576b9;
    }
  }
}


.user-menu {
  float: left;
  width: 220px;
  height: 100%;
  cursor: pointer;
  background: #313e4d;
  border-top: 2px solid rgba(0,0,0,.5);
  padding: 7px 0 9px 8px;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.user-menu_profile-pic {
  display: inline-block;
  float: left;
  border-radius: 0.2rem;
  width: 48px;
  height: 48px;
  margin-left:10px;
  background-size: cover;
  margin-right: 8px;
}

::-webkit-scrollbar {
  width: .4em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.user-menu_username {
  display: block;
  color: #fff;
  font-weight: 900;
  line-height: 1.5rem;
  margin-top: 0.2rem;
}

.connection_icon {
  width: 12px;
  height: 12px;
}

.connection_status {
  color: #ab9ba9;
}

.input-box {
  height: 100%;
  margin-left: 220px;
}

.input-box_text {
  font-size: 0.95rem;
  width: 90%;
  margin-left: 2%;
  margin-bottom: auto;
  line-height: 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.2rem;
  background-clip: padding-box;
  color: #3d3c40;
  box-shadow: none;
  outline: 0;
  bottom: 0;
  min-height: 41px !important;
  padding: 9px 5px 9px 8px;
}

#dropdown {
  position: absolute;
  right: 10px;
  padding: 10px;
  background-color: rgba(139, 133, 133, 0.4);
  display: none;
  padding-top: 8px;
  padding-right: 10px;
  z-index:100;
  cursor: hand;

  a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f9f9f9;

    &:hover {
      background-color: #f1f1f1;
    }
  }
  #logout {
    width:130px;
    height: 35px;
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
}


/* channel search button */
.search {
  padding: 10px;

  input {
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;

    &::-moz-placeholder { /* Firefox 19+ */
      color: lightgrey;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: lightgrey;
    }
  }

  .fa-search {
    position: relative;
    left: -25px;
  }
}
/* channel search button */


/*sideBarHeader*/
.sidebar-header {
  padding: 5px;
  border-bottom: 2px solid white;
  height: 60px;
  background: rgb(226, 226, 226);

  .sidebar-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;

    #sidebar-with {
      font-weight: bold;
      font-size: 16px;
    }

    .sidebar-num-messages {
      color: $gray;
    }
  }


  #close-button {
    float: right;
    color: black;
    background-color: rgb(190, 189, 189);
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: hand;
    &:hover{
    transform :scale(1.3);
    }
  }
}
/*sideBarHeader*/
