%div{:class => 'container-fluid custom-fluid'}
  %div{:class => 'row custom-row'}
    / left panel : channels, user, user-setting
    =haml :left, :locals => locals, :layout => false
    / middle-panel : messages related data
    =haml :middle, :locals => locals, :layout => false
    / right panel : search related
    =haml :right, :locals => locals, :layout => false

/ js things
:javascript
  var msgH = $('.message-box').height() + 'px';
  $(function(){
    $('.message-box').slimScroll({
      height: msgH
    });
    $('.slimScrollDiv').scrollTop(1E10);
  });
