!!!
%html{:lang => 'en'}
  %head
    - if locals[:value] != nil
      %title="#{locals[:view]} · #{locals[:value]}" 
    - else
      %title="Slack-lens · #{locals[:view]}"

    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'author', :content => 'Team SDSLabs'}
    %meta{:name => 'description', :content => 'A search backend application for Slack allowing you to break 10K free search limit'}

    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/stylesheets/bootstrap.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/stylesheets/style.css'}

    %script{:type => 'text/javascript', :src => '/assets/js/jquery-1.10.2.js'}
    %script{:type => 'text/javascript', :src => '/assets/js/jquery.slimscroll.min.js'}

  %body

    %div{:class => 'header page-header'}
      %div{:class => 'header-slacklens'}
        %h2
          %a{:href => '/'}Slack-lens
    = yield

    %script{:type => 'text/javascript', :src => '/assets/js/structure.js'}
