/ search channel
%div{:class => 'col-md-3'}
  %form{:class => 'search-form search-channel', :role => 'form'}
    %div{:class => 'form-group custom-form-group'}
      %input{:class => 'form-control input-lg', :type => 'text', :placeholder => "Search ##{locals[:value]}"}

