/ search channel
%div{:class => 'col-md-3 channel-search'}

  / search form
  %form{:class => 'form-horizontal search-channel', :role => 'form', :method => 'GET', :'data-channel' => "#{locals[:value]}"}
    %div{:class => 'form-group custom-form-group'}
      %div{:class => 'input-group'}
        %input{:class => 'form-control', :type => 'text', :placeholder => " Search Channel"}
        %div{:class => 'input-group-addon'}
          ="##{locals[:value]}"

  / search result
  %div{:class => 'channel-search-result'}
